@media only screen and (max-width: 550px) {
  .main-container {
    max-width: 96.6vw;
  }
  .upcoming-event-image {
    flex-direction: column;
  }
  .upcoming-event-image .images1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .upcoming-event-image .images2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* margin-top: 10rem; */
    margin-left: 0 auto;
  }
  .text1:hover {
    /* transform: scale(1.1); */
    color: #c21949;
    transition: 0.5s;
  }
  .explore-world-text h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .explore-world-text p {
    font-size: 1rem;
    padding-bottom: 0rem;
  }
  .explore-world .images {
    flex-direction: column;
    padding-right: 0rem;
    margin-top: 3rem;
  }
}
